.offer {
    display: block;
    background-color: #fff;

}

.offer-container {
    display: inline-flex;

}

.offer-subtitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin: 50px 0 0 520px;
    color: #134B20;
    font-size: 15px;
}

.offer-title {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: bold;
    color: #343434;
    position: absolute;
    margin: 10px 50px 0 350px;
}

.offer-description {
    font-family: 'Open Sans', sans-serif;
    margin: 70px 0 0 500px;
    color: #134B20;
    font-size: 15px;
}

.moradores{
    position: absolute;
    left: 100px;
    margin-top: 200px;
}

.tasks{
    position: absolute;
    left: 100px;
    margin-top: 300px;
}

.sistema{
    position: absolute;
    left: 100px;
    margin-top: 400px;
}

.condominio{
    position: absolute;
    left: 600px;
    margin-top: 200px;
}

.horta{
    position: absolute;
    left: 600px;
    margin-top: 300px;
}

.composteiras{
    position: absolute;
    left: 600px;
    margin-top: 400px;
}

.cor {
    color: #2F2C4A;
}
